In [1]:
import pandas as pd

In [2]:
import pickle

In [22]:
%time file = pd.read_csv(r'/Users/mayankmahawar/Downloads/1500000 Sales Records.csv')

CPU times: user 2.39 s, sys: 276 ms, total: 2.67 s
Wall time: 2.72 s

In [36]:
file.iloc[0:100,4] = '100'

In [37]:
file.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,100,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18

In [38]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Region          1500000 non-null  object
 1   Country         1500000 non-null  object
 2   Item Type       1500000 non-null  object
 3   Sales Channel   1500000 non-null  object
 4   Order Priority  1500000 non-null  object
 5   Order Date      1500000 non-null  object
 6   Order ID        1500000 non-null  int64
 7   Ship Date       1500000 non-null  object
 8   Units Sold      1500000 non-null  int64
 9   Unit Price      1500000 non-null  float64
 10  Unit Cost       1500000 non-null  float64
 11  Total Revenue   1500000 non-null  float64
 12  Total Cost      1500000 non-null  float64
 13  Total Profit    1500000 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 160.2+ MB

In [39]:
%time file.to_feather('file.feather')

CPU times: user 643 ms, sys: 182 ms, total: 825 ms
Wall time: 1.14 s

In [23]:
file.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18

In [8]:
%time file.to_csv('file.csv',index = False)

CPU times: user 2min 23s, sys: 5.62 s, total: 2min 29s
Wall time: 2min 37s

In [ ]:
%time file.to_excel('file.xlsx',index = False)

In [10]:
%time file.to_hdf('file.h5', key='file')

CPU times: user 13.7 s, sys: 6.66 s, total: 20.3 s
Wall time: 27.1 s

In [11]:
%time file.to_pickle('file.pkl')

CPU times: user 5.62 s, sys: 3.71 s, total: 9.33 s
Wall time: 11.6 s

In [12]:
%time file.to_feather('file.feather')

CPU times: user 6.03 s, sys: 2.01 s, total: 8.04 s
Wall time: 11.5 s

In [13]:
%time file1 = pd.read_csv('file.csv')

CPU times: user 25.6 s, sys: 3.46 s, total: 29.1 s
Wall time: 32.4 s

In [20]:
%time file2 = pd.read_excel('file.xlsx')

CPU times: user 1min 6s, sys: 1.07 s, total: 1min 7s
Wall time: 1min 11s

In [14]:
%time file3 = pd.read_hdf('file.h5', key='file')

CPU times: user 10.3 s, sys: 15.5 s, total: 25.8 s
Wall time: 34.6 s

In [15]:
%time file4 = pd.read_pickle('file.pkl')

CPU times: user 2.68 s, sys: 2.7 s, total: 5.38 s
Wall time: 7 s

In [16]:
%time file5 = pd.read_feather('file.feather')

CPU times: user 5.17 s, sys: 4.04 s, total: 9.21 s
Wall time: 13.4 s

In [18]:
print(file1.info())
# print(file2.info())
print(file3.info())
print(file4.info())
print(file5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000000 entries, 0 to 14999999
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   Item Type       object
 3   Sales Channel   object
 4   Order Priority  object
 5   Order Date      object
 6   Order ID        int64
 7   Ship Date       object
 8   Units Sold      int64
 9   Unit Price      float64
 10  Unit Cost       float64
 11  Total Revenue   float64
 12  Total Cost      float64
 13  Total Profit    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.6+ GB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15000000 entries, 0 to 14999999
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   Item Type       object
 3   Sales Channel   object
 4   Order Priority  object
 5   Order Date      object
 6   Order ID        int64
 7   Ship Date       object
 8   Units Sold      int64
 9   Unit Price      float64
 10  Unit Cost       float64
 11  Total Revenue   float64
 12  Total Cost      float64
 13  Total Profit    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.7+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000000 entries, 0 to 14999999
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   Item Type       object
 3   Sales Channel   object
 4   Order Priority  object
 5   Order Date      object
 6   Order ID        int64
 7   Ship Date       object
 8   Units Sold      int64
 9   Unit Price      float64
 10  Unit Cost       float64
 11  Total Revenue   float64
 12  Total Cost      float64
 13  Total Profit    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.6+ GB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000000 entries, 0 to 14999999
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   Region          object
 1   Country         object
 2   Item Type       object
 3   Sales Channel   object
 4   Order Priority  object
 5   Order Date      object
 6   Order ID        int64
 7   Ship Date       object
 8   Units Sold      int64
 9   Unit Price      float64
 10  Unit Cost       float64
 11  Total Revenue   float64
 12  Total Cost      float64
 13  Total Profit    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 1.6+ GB
None